<div class="page-container"
id="{{id}}"
>
    <div class="content-wrap">
        <nav
        class="st-navbar has-background-grey-light py-0 my-0"
        id="myNavbar"
        role="navigation"
        aria-label="main navigation"
        >
            <div class="navbar-brand is-size-7">
                <div class="navbar-item px-0">
                    <div class="buttons">

                    {{#if burger}}
                        <div
                        class="button is-light 
                        {{#if burger.onclick}}
                        {{else}}
                            is-static
                        {{/if}}
                        has-background-grey-light no-border is-small ml-2"
                        {{#if burger.onclick}}
                            onclick="{{burger.onclick}}"
                        {{/if}}
                        >
                            <span class="icon ">
                                <i class="{{burger.icon}}"></i>
                            </span>

                            {{#if burger.label}}
                                <span class="is-size-6 ml-2">
                                    {{burger.label}}
                                </span>
                            {{/if}}
                            
                        </div>
                    {{/if}}

                    {{#if previous}}
                        <div class="button is-rounded-1"
                            {{#if previous.onclick}}
                                onclick="{{previous.onclick}}"
                            {{/if}}
                        >
                            <span class="icon has-text-grey-light">
                                <i class="{{previous.icon}}"></i>
                            </span>
                            <span class="is-size-6 ml-2">
                                {{previous.label}}
                            </span>
                        </div>
                    {{/if}}

                    {{#if next}}
                        <div class="button is-rounded-1"
                            {{#if next.onclick}}
                                onclick="{{next.onclick}}"
                            {{/if}}
                        >
                            <span class="icon has-text-grey-light">
                                <i class="{{next.icon}}"></i>
                            </span>
                            <span class="is-size-6 ml-2">
                                {{next.label}}
                            </span>
                        </div>
                    {{/if}}

                    {{#each buttons}}
                        <div class="dropdown mr-1">
                            <div class="dropdown-trigger">
                                <div>
                                    <div class="button is-rounded-1">
                                        <span class="is-size-6">
                                            {{label}}</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content is-rounded-1">
                                    {{#each items}}
                                        <div class="dropdown-item is-flex
                                        {{#if onclick}}
                                        {{else}}
                                            is-disable
                                        {{/if}}
                                        " 
                                        {{#if onclick}}
                                            onclick="{{onclick}}"
                                        {{/if}}
                                        >
                                            <span class="icon has-text-grey-light">
                                                <i class="fa-lg {{icon}}"></i>
                                            </span>
                                            <span class="is-size-6 ml-2">
                                                {{label}}
                                            </span>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}

                    </div>
                </div>

                <div class="flex-spacer"></div>
                
                <div class="navbar-item navbar-search mr-1">
                    <p class="control has-icons-left">
                        <input class="input is-rounded is-size-6" type="text" placeholder="Search" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>

                <div class="navbar-item mx-2 px-2">
                    <div class="dropdown is-right">
                        <div class="dropdown-trigger">
                            <div
                            class="button no-border px-0 mr-1 has-background-grey-light is-small"
                            >
                                <span class="icon">
                                    <i class="fa fa-lg fa-ellipsis-v"></i>
                                </span>
                            </div>
                        </div>
                        <div class="dropdown-menu is-10rem" id="dropdown-menu" role="menu">
                        <div class="dropdown-content is-rounded-1 is-right is-active">
                            <div class="dropdown-item is-flex">
                                <span class="icon has-text-grey-light">
                                    <i class="fa-lg fa fa-cog"></i>
                                </span>
                                <span class="is-size-6 ml-1">
                                    Settings</span>
                            </div>
                            <div class="dropdown-item is-flex">
                                <span class="icon has-text-grey-light">
                                    <i class="fa-lg fa fa-heart"></i>
                                </span>
                                <span class="is-size-6 ml-1">
                                    About</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
        {{! This empty div MUST be the first element after st-navbar
            for autohide to work. }}
        <div>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title is-size-5">{{section}}</div>
                    <div class="card-header-title is-size-3">{{title}}</div>
                </div>
                <div class="card-content is-clearfix has-text-left random-bloc">
                </div>
            </div>
        </div>




        </div>
    </div>
    <footer class="footer mt-3 p-4 is-size-7 has-background-grey-lighter has-shadow">
        <div class="content">
            <p>
                <strong>Smooth transitions</strong> by
                <a href="https://none.com">XXXX Mgurzixo</a>.
                <br />
                The source code is available at
                <a href="http://opensource.org/licenses/mit-license.php" target="_blank"
                    >XXXX Github</a
                >
                under the
                <a href="http://opensource.org/licenses/mit-license.php" target="_blank"
                    >MIT</a
                        >
                licence.
                <br />
                The website content is licensed
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                    CC BY NC SA 4.0
                </a>.
            </p>
        </div>
    </footer>
</div>
