{{#each pages}}
    <div id={{id}}>
        <nav
            class="st-navbar has-background-grey-light py-0 my-0"
            role="navigation"
            aria-label="main navigation"
        >
            <div class="navbar-brand">
                <div class="navbar-item px-0">
                    <div class="buttons">
                        <div class="mx-1"></div>

                        {{#if burger}}
                            <div
                                class="button is-light is-static has-background-grey-light is-rounded"
                            >
                                <span class="icon">
                                    <i class="{{burger.icon}}"></i>
                                </span>
                                {{#if burger.label}}
                                    <span class="is-size-5">
                                        {{burger.label}}
                                    </span>
                                {{/if}}
                            </div>
                        {{/if}}

                        {{#if up}}
                            <div class="button">
                                <span class="icon">
                                    <i class="{{up.icon}}"></i>
                                </span>
                                <span class="is-size-5 ml-2">
                                    {{up.label}}
                                </span>
                            </div>
                        {{/if}}

                        {{#each buttons}}
                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                    <div>
                                        <div class="button is-rounded">
                                            <span class="is-size-5">
                                                {{label}}</span>
                                            <span class="icon is-small">
                                                <i class="fas fa-angle-down"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="dropdown-menu min-width-10"
                                    id="dropdown-menu"
                                    role="menu"
                                >
                                    <div class="dropdown-content">
                                        {{#each items}}
                                            <div class="dropdown-item">
                                                <span class="icon">
                                                    <i class="fa-lg {{icon}}"></i>
                                                </span>
                                                <span class="is-size-5 ml-2">
                                                    {{label}}</span>

                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class="navbar-item grow-99">
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input is-rounded" type="password" placeholder="Search" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="navbar-item">
                    <div class="button px-0 has-background-grey-light">
                        <span class="icon">
                            <i class="fa fa-ellipsis-v"></i>
                        </span>

                    </div>
                </div>
            </div>
        </nav>
        {{! This empty div MUST be the first element after st-navbar
         for autohide to work. }}
        <div>
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title xis-pulled-right is-size-5">{{section}}</div>
                        <div class="card-header-title is-size-3">{{title}}</div>
                    </div>
                    <div class="card-content is-clearfix">
                        <p>
                            <img
                                src="assets/pineapple.jpg"
                                alt="Pineapple"
                                style="width: 170px; height: 170px; margin-right: 15px; float: left"
                            />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>
                        <div class="m-4"></div>
                        <p>
                            <img
                                src="assets/pineapple.jpg"
                                alt="Pineapple"
                                style="width: 170px; height: 170px; margin-right: 15px; float: right"
                            />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
